  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body bgcolor="DDE0EB">
<h1>Welcome to Guardian Game Deals</h1>
<form action="/form_login" method="post">
  <h2>Authentication System</h2>
  Username:<br>
  <input type="text" name='username'><br>
  Password:<br>
  <input  name='password' ><br><br>
  <input type="submit" value="Login">
</form>
<p>Hint: the correct username is "root", the password is "Guardian123"</p>
      <br>
      <h4></h4>
      <h4>Enjoy!</h4>
<h1 >{{info}}</h1>

</body>
</html>